*{
	margin: 0;
	padding: 0;
}

.banner{
	width: 100%;
	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(img/High_resolution_wallpaper_background_ID_77700966735.jpg);
	background-position: center;
	background-size: cover;
}


.navbar{
	width: 85%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.logo{
	width: 130px;
	cursor: pointer;
}

.navbar ul li{
	display: inline-block;
	list-style: none;
	margin: 0 20px;
	position: relative;
}


.navbar ul li a{
	text-decoration: none;
	text-transform: uppercase;
	color: #C79F4A;
}

.navbar ul li::after{
	content: '';
	height: 2px;
	width: 0;
	background: linear-gradient(to right, #C79F4A, white);
	position: absolute;
	left: 0;
	bottom: -5px;
	transition: .5s;
}

.navbar ul li:hover::after{
	width: 100%;
}

.content{
	width: 100%;
	color: #fff;
	text-align: center;
	position: absolute;
	top: 30%;
	transform: translateY(-50px);
}

.content h1{
	font-size: 70px;
	color: #C79F4A;
}

.content p{
	margin: 20px auto;
	line-height: 25px;
	color: #C79F4A;
}


button{
	width: 150px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	border: 2px solid #C79F4A;
	color: #C79F4A;
	background: transparent;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

span{
	background: #C79F4A;
	height: 100%;
	width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: .5s;
}


button:hover span{
	width: 100%;
}

button:hover{
    border: none;
    color: #1F140F;
    font-weight: bold;
}




@media (min-width: 1281px) {
  
  /* CSS */
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .navbar ul li{
  	display: block;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
 .navbar ul li{
  	display: block;
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .navbar ul li{
  	display: block;
  	padding: 20px;
  }
  
}
